.styleforaboutpage{
    background-color: gray;
    opacity: 0.8;
    color: white;
    padding: 20px;
    height:550px
}
p{
    margin: 30px;
    border: 2px solid black;
    padding-left: 30px;
    border-radius: 5px;
}
#h1{
    top: 50%;
   margin-left: 40%;
}
.tablestyles{
    margin-top:30px
}
.adduserform{
padding: -60px 30px 10px 30px;

    text-align: center;
    background: skyblue;
    opacity: 0.8;
}
.textcolor{
    color: white;
}
label{
    color: white;
}
img{
    height: 100px;
}
.iamgesty{
    height: 75vh;
    width: 100%;
}